<div class="jumbotron ">
    <div class="container">
        <img src="/assets/img/burger.png" alt="burger" id="burger-pic">
        <h1>Eat Da Burgers!</h1>
    </div>
</div>
<div class="card">
    <div class="card-title">
        <h2>Burgers that were not devoured!</h2>
    </div>
    <div class="card-body">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burger/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burger/burger-block devour=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="brgr">Burger Name:</label>
        <input type="text" id="brgr" name="burger_name">
    </div>

    <div class="form-group">
        <label for="dev">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Nom! Nom!<br>
        <input type="radio" name="devoured" value="0"> Not today
    </div>

    <button type="submit">Add Burger</button>
</form>